#idone {
    background-color: yellow;
    padding-left: 45px;
}

.classone {
    background-color: antiquewhite;
    margin-top: 60px;
    border: 10px dotted green;
}

.classtwo {
    padding-bottom: 4em;
}

h1 {
    background-color: indigo;
    padding: 2px;
}

.result {
    margin: 20px;
    font-size: 2em;
}